# Server
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hilom
JWT_ACCESS_SECRET=hilom-access-secret-change-in-prod
JWT_REFRESH_SECRET=hilom-refresh-secret-change-in-prod
PORT=4000
CLIENT_URL=http://localhost:5173
PAYMONGO_SECRET_KEY=sk_test_xxx

# Client
VITE_API_URL=http://localhost:4000/api
VITE_SOCKET_URL=http://localhost:4000
